* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.heading-one {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 1.2;
    font-weight: 300;
}

.heading-two {
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    line-height: 1.3;
    font-weight: 400;
}

.heading-three {
    font-size: clamp(1.15rem, 3vw, 2rem);
    line-height: 1.4;
    font-weight: 500;
}

p {
    font-size: clamp(1rem, 2.5vw, 1.15rem);
    line-height: 1.6;
    font-weight: normal;
}

.font-small {
    font-size: 1rem;
}

.font-medium {
    font-size: 1.25rem;
}

.font-large {
    font-size: 1.5rem;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #1F2937;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" on;
    -moz-font-feature-settings: "liga" on;
}

.padding-standard {
    padding: 2rem 4rem;
}

a {
    text-decoration: none;
    color: inherit
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

}

.btn-primary {
    background-color: #3882F6;
    color: #ffffff;
    
}

.btn-primary:hover {
    background-color: #256EDC;
}

.btn-secondary {
    background-color: transparent;
    color: #3882F6;
    border: 2px solid #3882F6;
}

.btn-secondary:hover {
    background-color: #3882F6;
    color: #ffffff;
}

.btn-contact {
    background-color: #ffffff;
    color: #3882F6;
    border: 2px solid #ffffff;
    width: fit-content;
}

.btn-contact:hover {
    background-color: #3882F6;
    color: #ffffff;
}

header, .homepage-header {
    background-color: #1F2937;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.navigation-logo {
    margin-bottom: 1.5rem;
}

.navigation-logo a {
    font-size: 20px;
    font-weight: 500;
}

.navigation-menu a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.homepage-header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.homepage-hero {
    margin-bottom: 2rem;
}

.homepage-hero h1 {  
    color: #F9FAF8;
}

.homepage-hero p {
    color: #E5E7EB;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.homepage-image img {
    width: 100%;
    max-width: 100%;;
}


.homepage-tours h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.tour-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tour-item {
    text-align: center;
}

.tour-item img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin: 2rem 0;
}

.tour-item p {
    margin-bottom: 2rem;
}

.homepage-testimonial {
    background-color: #E5E7EB;
    text-align: center;
}

.homepage-testimonial blockquote {
    margin: 1rem auto;
    max-width: 100%;
}

.testimonial-author {
    margin-top: 0.8rem;
    font-weight: 600;
}

.homepage-contact .contact {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    color: #ffffff;
    padding: 30px;
    border-radius: 8px;
}


.contact-text p {
    margin: 1rem 0;
}

.footer {
    background-color: #1F2937;
    color: #ffffff;
    text-align: center;
    padding: 20px 80px;
}

    
@media screen and (min-width: 768px) {
    .padding-standard {
        padding: 3rem 6rem;
    }

    .btn {
        padding: 0.65rem 1.5rem;

    }

    .navigation {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation-logo {
        margin-bottom: 0
    }

    .menu {
        flex-direction: row;
        gap: 30px;
    }

    .homepage-header {
        flex-direction: row;
        gap: 2rem;
    }

    .homepage-hero, .homepage-image {
        flex: 0 1 50%;
    }

    .homepage-hero {
        align-self: center;
        padding-right: 5px;
    }


    .homepage-tours h2 {
        text-align: center;
        margin-bottom: 2rem;
}

    .homepage-testimonial blockquote {
        margin: 2rem auto;
        max-width: 800px;
  }

    @media  screen and (min-width: 1024px) {
    .tour-list {
        flex-direction: row;
    }

    .homepage-contact .contact {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1400px) {
    .padding-standard {
        padding: 5rem 15rem;
    }

    .homepage-hero {
        align-self: center;
    }
}