* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    color: #1F2937;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" on;
    -moz-font-feature-settings: "liga" on;
}

.padding-standard {
    padding: 2rem 8rem;
}

.btn {
    font-size: 16px;
    padding: 0.65rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: #3882F6;
    color: #ffffff;
}

.btn-secondary {
    background-color: transparent;
    color: #3882F6;
    border: 2px solid #3882F6;
}

.btn-contact {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: fit-content;
}

header, .homepage-header {
    background-color: #1F2937;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
}

.navigation-logo {
    margin-bottom: 1.5rem;
}

.navigation-logo a {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.homepage-header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.homepage-hero {
    margin-bottom: 2rem;
}

.homepage-hero h1 {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
}

.homepage-hero p {
    font-size: 1.125rem;
    color: #E5E7EB;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.homepage-image img {
    width: 100%;
    max-width: 100%;;
}

.homepage-tours h2 {
    text-align: center;
}


.tour-item img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin: 2rem 0;
}

.tour-item p {
    margin-bottom: 2rem;
}

.tour-item a {
    margin-top: 1.5rem;
}

.homepage-testimonial {
    background-color: #E5E7EB;
    text-align: center;
}

.homepage-contact .contact {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #3882F6;
    color: #ffffff;
}

.contact-text p {
    margin: 1rem 0;
}

.footer {
    background-color: #1F2937;
    color: #ffffff;
    text-align: center;
    padding: 20px 80px;
}

    
@media screen and (min-width: 768px) {
    .padding-standard {
        padding: 3rem 10rem;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation-logo {
        margin-bottom: 0
    }

    .menu {
        flex-direction: row;
        gap: 30px;
    }

    .homepage-header {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .homepage-hero {
        align-self: center;
    }

    .homepage-image img {
        width: 650px;
        max-width: 100%;
    }
}

@media  screen and (min-width: 1024px) {
    
    .padding-standard {
        padding: 5rem 15rem;
    }

    .homepage-tours {
        text-align: center;
    }

    .tour-list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }


    .tour-item img {
        width: 600px;
        max-width: 100%;

    }   

    .homepage-contact .contact {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}





